root = true

# C# files
[*.cs]


indent_size = 4
indent_style = space
tab_width = 4


# Disable "Qualifier is redundant" (e.g., this.member)
resharper_redundant_this_qualifier_highlighting = none
resharper_redundant_base_qualifier_highlighting = none
# To allow redundant type name qualifiers
resharper_redundant_name_qualifier_highlighting = none

# Define the 'private_static_fields' symbol group
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static

# Define the 'lower_camel_case_with_s_prefix' style
dotnet_naming_style.lower_camel_case_with_s_prefix.capitalization = camel_case
dotnet_naming_style.lower_camel_case_with_s_prefix.required_prefix = s_

# Bind the symbol group to the style
dotnet_naming_rule.private_static_fields_should_be_s_prefix.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_should_be_s_prefix.style = lower_camel_case_with_s_prefix
dotnet_naming_rule.private_static_fields_should_be_s_prefix.severity = suggestion


# Disable Naming convention warnings
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_analyzer_diagnostic.category-Naming.severity = none
resharper_naming_rule_violation_highlighting = none


dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false
resharper_csharp_use_explicit_type_highlighting = none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# Keep Win32-style constants intact without analyzer noise.
dotnet_diagnostic.IDE0008.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
