# RemakeEngine .gitignore (organized)

############################
# IDE / Editor
############################
.vscode/
.VSCodeCounter/

.history/
**/.history/**

.vs/

EngineNet.Tests/TestResults/**

###########################
# Build Artifacts / Dependencies
############################
bin/
obj/
*.csproj.user

############################
# Tools
############################
/Tools/**
Tools.local.json

############################
# Documentation (external repos)
############################
remake-engine-docs/
RemakeEngineDocs/

############################
# Original Game Files (do not commit for licensing/copyright)
############################
/Source/
/SourceData/
LightTOC
StreamSetConfig
localereftableD4815ED6.txt
*.alb
*.amb
*.aub
*.bin
*.bsp
*.ctb
*.dat
*.graph
*.imb
*.inf
*.lh2
*.lua
*.meta.xml
*.mib
*.msb
*.mus
*.preinstanced
*.ps3
*.rcm_b
*.sbk
*.smb
*.snu
*.str
*.toc
*.txd
*.uix
*.vfb
*.vp6

############################
# Temporary / Backup / Archived
############################
/TMP/
dev/
*.blend1

############################
# Repo/Submodules
############################
# ignore submodules file, the games modules are managed by the app, this is here for VS code to detect them
.gitmodules
EngineApps/Games/

# dont ignore demo
!EngineApps/Games/demo/
!EngineApps/Games/demo/Tools.toml
!EngineApps/Games/demo/operations.toml
!EngineApps/Games/demo/operations_commands.md
!EngineApps/Games/demo/scripts/
!EngineApps/Games/demo/scripts/*.lua
!EngineApps/Games/demo/scripts/**

debug.log
