# Build/Game artifacts
GameFiles/
Game/

# Configuration/History
.history
config.ini
project.json


# IDE/Editor specific
.vscode/
.VSCodeCounter/

# Logs
*.log
main.log

# old/backup, archived
OldModules/
OldRemakeRegistry/
dev/

# Tools executables/scripts/temp
Tools/QuickBMS/*.exe
Tools/QuickBMS/*.bat
Tools/QuickBMS/*.ps1
Tools/QuickBMS/*.txt
Tools/QuickBMS/exe

Tools/Blender/blender-4.0.2-windows-x64

# Temporary/Backup
old/

.*/

# Asset/Texture mapping
texture_mapping.json
asset_mapping.json
asset_map.sqlite

# Python cache
__pycache__
/__pycache__/
__pycache__/
*.pyc
.pyc
**/__pycache__/init.cpython-313.pyc

/TMP/
/TMP/Downloads/
build/
dist/

/GameFiles/
/game/

# dont share game files
localereftableD4815ED6.txt
LightTOC
StreamSetConfig
*.preinstanced
*.ps3
*.ps3
*.snu
*.vp6
*.mus
/Source/
/SourceData/
*.vfb
*.meta.xml
*.dat
*.txd
*.lh2
*.alb
*.ctb
*.graph
*.rcm_b
*.sbk
*.bsp
*.smb
*.mib
*.amb
*.uix
*.imb
*.toc
*.msb
*.inf
*.bin
*.aub
*.str
*.lua

# Test/Debug
.test/
test/

#uv_map_extract/

# dev experimenting
investigation_tools/blank.blend
investigation_tools/blank.blend1
*.blend1
*.blend1

# documentation, independent git repo
remake-engine-docs/

# game test
/godot
/godot/GameTest/
godot/
godot/assetTest/
/.godot/

# godot exe
Tools/Godot/Godot_v4.4.1-stable_mono_win64/
/blender-4.0.2-windows-x64/
/Tools/TMP/QuickBMS/exe/
/Tools/TMP/


